{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <h1>{{ status }}</h1>
      <p> {{ message }} <a href="/">Go Back</a> </p>
    </div>
  </div>
{% endblock %}