{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <h1>{{ error.status }}</h1>
      <p> Something bad happened! <a href="/">Go Back</a> </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
