/**
 * @author Harminder Virk
 * Css styles for adonis splash page , you are free to delete it
 * and get started with fresh installation.
 */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,300,600);
html,body{
  height: 100%;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background: #FD5252;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}
*:focus{
  outline: none
}
.__wrapper{
  width: 740px;
  height: 100%;
  margin: auto;
  display: table;
}
.__tile{
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.__tile h2{
  font-weight: 300;
  color: #fff;
  font-size: 70px;
  display: inline-block;
}
.__tile h3{
  font-weight: 300;
  color: #fff;
  font-size: 30px;
}
